/* custome css  */

body{
    font-family: 'Poppins', sans-serif;
}


/*-----------
navbar text color
----------*/
.nav-text-color{
    color: #3E3E3E;
}
.nav-band-hover:hover{
    color: #3E3E3E;
}
.nav-text-hover:hover{
    color:  #3F87F5;
    border-bottom: #3F87F5 1px solid;
    margin-bottom: -1px;
}

/*--------------------
 section title style  
---------------------*/
.sec-title{
    color: #0A0826;
    font-size: 38px;
    line-height: 50px;
    margin: 100px 0;
}

/*-----------------------
explore-section 
-------------------------*/
.explore-button{
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    background: #3F87F5;
}
.explore-button:hover{
    color: #3F87F5;
    background: #FFFFFF;
    border: 1px solid #3F87F5;
}
.explore-title{
    color: #0A0826;
    font-size: 38px;
    line-height: 50px;
}
.explore-details{
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
}

/*---------------
 toast section  
 --------------*/
 .toast-border{
     border-left: 3px solid #3F87F5;
 }
 .fa-gift{
    color:  #3F87F5;
 }

/*----------------
 card button 
 ---------------- */
 .card-button{
    background: rgba(244, 150, 209, 0.2);
    color: #3F87F5;
    font-weight: bold;
 }
 .card-color{
    background: #f3f3f3;
 }
 .card-title-color{
    color: #231D4F;
 }

 .card-details{
    font-size: 15px;
    line-height: 22px;
    color: #848199;
 }
 .card-hot{
     
     z-index: 1;
     top: -40px;
 }
 .card-hot-bg{
    background: #3F87F5;
 }
 .hot-card-title-color{  
    color: #FFFFFF;
 }

 .hot-card-details{
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
 }
 .card-hot-button{
    background: #FFFFFF;
    color: #3F87F5;
    font-weight: bold;
 }

 /* our cleint section  */
.cleint-talk{
    font-size: 16px;
    color: #6C6C6C;
}
 .cleint-box{
     background-color: #FFFFFF;
 }
 
 /* FAQ section  */
 .faq-img{
    width: 80%;
    height: 80%;
     border-radius: 30px;
 }
/*----------------
accordion-style 
------------------*/
.accordion-style{
    border-top: 1px solid rgba(0,0,0,.125);
}
.accordion-button:not(.collapsed){
    background-color: #ffffff;
    box-shadow: none;
}

.accordion-headtext{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #383838;
}
.accordion-details-text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #7E848C;
}

/* footer  */

.footer-bg{
    background: #0B0D17;
}
.footer-title{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #D9DBE1;
}
.footer-copyright{
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
}
